
@{
    Layout = null;
}
@model int
<!DOCTYPE html>

<html>
<head>
    @Html.Action("Header", "Static")
    <title>@ViewData["name"]密码</title>
    <script>

        function pwdChange() {
            var pwd = $("#newPwd").val();
            var pwd2 = $("#rnewPwd").val();
            if (pwd.length < 8) {
                return alert("新密码长度不能小于6位数");
            }
            if (pwd != pwd2) {
                return alert("两次密码不一致");
            }
            $.post("/Account/DoChangePwd", $("#pwdform").serialize(), function (data) {
                alert(data.msg);
                if (data.code == "1") {
                    window.history.back();
                }
            }, "json");
        }
    </script>
</head>
<body class="bgf4f4f4">
    <div class="header">
        <h3>@ViewData["name"]密码</h3>
        <a onclick="window.history.back()"  title=""><i class="icon-chevron-thin-left"></i></a>
    </div>
@using (Html.BeginForm("DoChangePwd", "Account", FormMethod.Post, new { id = "pwdform" }))
{
    <div class="updatepassword">@Html.Hidden("id", Model)
        <ul>
            <li>@Html.Password("oldPwd", null, new { placeholder = "旧密码" })<i class="icon-lock"></i></li>
            <li>@Html.Password("newPwd", null, new { placeholder = "新密码" })<i class="icon-lock"></i></li>
            <li>@Html.Password("rnewPwd", null, new { placeholder = "确认新密码" })<i class="icon-lock"></i></li>
        </ul>
    </div>
}
    <div class="h20"></div>
    <div class="btn1"><input type="button" value="确认" onclick="pwdChange()"/></div>
    <div class="h20"></div>
</body>
</html>
