
@{
    Layout = null;
    RelexBarDLL.Users user = ViewData["user"] as RelexBarDLL.Users;
}
@model RelexBarDLL.BankList
<!DOCTYPE html>

<html>
<head>
    @Html.Action("Header", "Static")
    <title>提现申请</title>
    <style>
        .btn0{background: #ff6600;
    width: 100%;
    height: 4rem;
    border: 0;
    border-radius: 4rem;
    font-size: 1.8rem;
    color: #fff;}
    </style>
    <script>
        function sub() {
            //alert('因年底资金结算，今日暂停提现，下周提现业务正常恢复。');
            //return false;
            var money = $("#money").val();
            var paypwd = $("#paypwd").val();
            if (money == null || money == "") {
                alert("提现金额不能为空！");
                return;
            }
            if (isNaN(money)) {
                alert("提现金额必须是数字！");
                return;
            }
            if(parseFloat(money)>@user.Score){
                alert("可提现余额不足");
                return;
            }
            if(parseFloat(money)%500!=0){
                alert("提现金额只能填写500的整数倍");
                return;
            }
            //if (paypwd == null || paypwd == "") {
            //    alert("交易密码不能为空！");
            //    return;
            //}
                $.post("/Account/DoTransforout", "bankID=@(Model==null?"":Model.ID.ToString())" + "&money=" + money, function (data) {
                    alert(data.msg);
                }, "json");

            }
        
    </script>
    @*@if (string.IsNullOrEmpty(user.PayPsw))
    {
        <script>
            alert("未设置交易密码");
            location.href = "/Account/ChangePwd/1";
        </script>

    }*@
</head>
<body class="bgf4f4f4">
    <div class="header">
        <h3>提现申请</h3>
        <a onclick="window.history.back()" title=""><i class="icon-chevron-thin-left"></i></a>
    </div>
    @using (Html.BeginForm("DoEditBank", "Bank", FormMethod.Post, new { id = "editbank" }))
    {
        <div class="account">
            @if (Model != null)
            {
            <ul>
                

                <li>
                    <div class="account_left">真实姓名：</div>
                    <div class="account_right">
                        <div class="account_account">
                            @Html.TextBoxFor(m => m.BankUser, new { placeholder = "请输入持卡人姓名" })
                        </div>
                    </div>
                </li>
                <li>
                    <div class="account_left">开户银行：</div>
                    <div class="account_right"><div class="account_password">@Model.BankName</div></div>
                </li>
                <li>
                    <div class="account_left">银行支行：</div>
                    <div class="account_right"><div class="account_password">@Model.BankZhiHang</div></div>
                </li>
                <li>
                    <div class="account_left">银行帐号：</div>
                    <div class="account_right"><div class="account_code">@Model.BankAccount</div></div>
                </li>
                
                <li>
                    <div class="account_left">提现金额：</div>
                    <div class="account_right"><div class="account_password"><input id="money" type="number" value="" placeholder="可填写金额为500的整数倍"/></div></div>
                </li>
                @*<li>
                    <div class="account_left">交易密码：</div>
                    <div class="account_right"><div class="account_password"><input type="password" id="paypwd" value="" placeholder="请输入密码" /></div></div>
                </li>*@
            </ul>
}
            else
            {
                <script>
                    alert("银行卡信息不正确");
                    location.href = "/Account/EditBank";
                </script>
            }
        </div>
    }
    <div class="account_other" style="text-align:center"><font color="#ff0000">提现将收取 @ViewData["transout"]%手续费。提现时间为3-5个工作日，节假日顺延。</font></div>
    <div class="btn1"><input id="sub" type="button" value="确认" onclick="sub()" /></div>
    <div class="footnavbox"></div>
</body>
</html>
