@model List<RelexBarDLL.AdminUser>
@for (int i = 0; i < Model.Count; i++)
{
    <tr>
        <td>@Model[i].Name</td>
        <td>@Model[i].CreateTime</td>
        <td>
            <input type="button" class="btn btn-danger" value="@((Model[i].Status==1)?"启用":"禁用")" onclick="CStatus('@Model[i].ID',this)" />
        </td>
        
        <td><input type="button" value="修改密码" onclick="UpPwd('@Model[i].ID')" class="btn btn-danger"/></td>
    </tr>
}
<script>createFooter(@ViewData["sum"])</script>
