@model List<RelexBarDLL.Category>
@for (int i = 0; i < Model.Count; i++)
{
    <tr>
        <td>@(new RelexBarBLL.CategoryBLL().GetName(Model[i].HeadID))</td>
        <td>@Model[i].Name</td>
        <td>@Model[i].Title</td>
        <td><img src="@Model[i].SrcDetail" width="100px"/></td>
        <td>@Model[i].Description</td>
        <td>@Model[i].OrderID</td>
        <td>@(Model[i].IsShow.HasValue&&Model[i].IsShow.Value==1?"可见":"不可见")</td>
        <td><input type="button" value="修改" onclick="EditCategory(@Model[i].ID)" class="btn btn-danger"/></td>
    </tr>
}
