@model RelexBarDLL.ProductList
@{
    Layout = null;
    RelexBarDLL.Shop shop = ViewData["shop"] as RelexBarDLL.Shop;
    //string[] imglist = Model.ImgList.Split(';');
}

<!DOCTYPE html>

<html>
<head>
    @Html.Action("Header", "Static")
    <title>ProductDetail</title>
    <style>
        .pd-guige-item{display:block;width:100%;overflow:hidden;box-sizing:border-box;padding:1rem;}
            .pd-guige-item:nth-child(n+1) {
                border-top:1px solid white;
            }
        .pd-guige-item>.ggtitle{
            font-weight: 600;
    margin-left: 1.5rem;
    font-size: 1.6rem;
        }
        .pd-guigelist li{float: left;
    background-color: white;
    margin-left: 1rem;
    padding: .1rem 1rem;
    border-radius: .5rem;}
        .pd-guige-a{margin-top:1rem;}
        .btn-count{width: 4rem;
    border: none;
    border-radius: .3rem;
    vertical-align: middle;
    margin: 0 1rem;
    font-size: 3rem;  
    background: #808080;
    display: inline-block;
    text-align: center;}
        .gactive{background-color:#ff6600 !important;}
    </style>
    <script>
        var tp = [];
        var SPDesc=[];
        var pid = '@Model.ID';
        $(function () {
            $(".pd-guigelist li").on("click", function () {
                var l = parseInt($(this).attr("data-l"));
                SPDesc[l] = $(this).text();

                $(this).parent().children().removeClass("gactive");
                $(this).addClass("gactive");
                if(selectGG()){
                    GetPrice();
                    $("#selectgg").text("数量：" + $("#count").text() + "," + SPDesc.join(","));
                }
            });
            $(".btn-count").on("click", function () {
                var v = $(this).attr("data-v");
                $count = $("#count");
                console.log($count.text());
                var count;
                console.log(isNaN($count.text()));
                if (!isNaN($count.text())) {
                    count = $count.text();
                } else {
                    count = 1;
                }
                switch (v) {
                    case "-":
                        if (count > 1) {
                            $count.text(--count);
                        }
                        break;
                    case "+":
                        $count.text(++count);
                        break;
                    default:

                }
                if (selectGG()) {
                    $("#selectgg").text("数量：" + count + "," + SPDesc.join(","));
                }

            });
            $("#sc").on("click", function () {
                var text = $(this).text();
                if (text == "收藏") {
                    $.post("/Shop/AddFavorites", "PID=@Model.ID", function (data) {

                        if (data.code == 1) {
                            $("#sc").text("已收藏");
                        } else {
                            alert(data.msg);
                        }
                    }, "json");
                } else {
                    $.post("/Shop/DelFavorites", "PID=@Model.ID", function (data) {
                        if (data.code == 1) {
                            $("#sc").text("收藏");
                        } else {
                            alert(data.msg);
                        }
                    }, "json");
                }
            });
            $(".product_choose").on("click", function () {
                var s = $(this).attr("data-gg");
                if (s == "0") {
                    $(".gg").slideDown();
                    $(this).attr("data-gg", 1);
                } else {
                    $(".gg").slideUp();
                    $(this).attr("data-gg", 0);
                }
            });
            $("#pay").on("click", function () {
                if (!selectGG()) {
                    alert("请选择购买参数");
                    $(".gg").slideDown();
                    $(this).attr("data-gg", 1);
                    return;
                }
                $.post("/Shop/CreateOrder", "id=@Model.ID&SPDesc=" + SPDesc.join(",") + "&count=" + $("#count").text(), function (data) {
                    if (data.code == 1) {
                        location.href = "/Shop/OrderConfirm/" + data.msg;
                    } else {
                        alert(data.msg);
                    }
                }, "json");
            });
            $(".addcar").on("click", function () {
                if (!selectGG()) {
                    alert("请选择购买参数");
                    $(".gg").slideDown();
                    $(this).attr("data-gg", 1);
                } else {
                    $.post("/Shop/AddCar", "id=@Model.ID&SPDesc=" + SPDesc.join(",") + "&count=" +$("#count").text(), function (data) {
                        alert(data.msg);
                    }, "json");
                }
            });
        });
        function GetPrice() {
            $.post("/Shop/GetPrice", "id=" + pid + "&SPDesc=" + SPDesc.join(","), function (data) {
                if (data.Price == null && data.RealPrice == null) {
                    $("#price").text("暂无库存");
                    //$("#price").text("暂无库存");
                } else {
                    $("#price").text("¥" + data.Price);
                    //$("#price").text("¥" + data.RealPrice);
                }

            }, "json")
        }
        function chatQQ() {
            window.location.href = "mqqwpa://im/chat?chat_type=wpa&uin=@shop.ChatQQ&version=1&src_type=web&web_src=oicqzone.com";
        }
        function selectGG() {

            var $glist = $(".pd-guigelist");
            for (var i = 0; i < $glist.length; i++) {

                var $items = $glist.eq(i).children();
                for (var j = 0; j < $items.length; j++) {
                   //    console.log($items.eq(j).hasClass("gactive"));
                    if ($items.eq(j).hasClass("gactive")) {
                        break;
                    }
                    if (j == $items.length-1) {
                        return false;
                    }
                }

            }
            return true;
        }
    </script>
</head>
<body class="bgf4f4f4">
    <div class="header">
        <h3>商品详情</h3>
        <a  onclick="window.history.back()" title=""><i class="icon-chevron-thin-left"></i></a>
        @*<a href="#" title=""><i class="icon-external-link"></i></a>*@
    </div>
    <div class="product_pic"><img src="@Model.Img" alt="" /></div>
    <div class="product_titlebox">
        <h1 style="border:0px;margin:0px;padding:0px;">@Model.Name @Model.Title</h1>
        @*
        <h1>@Model.Name @Model.Title</h1>
        @if (Convert.ToBoolean(ViewData["isLogin"]))
        {
            <a title="" class="product_add"><span class="active"><i class="icon-star-outline"></i><span id="sc">@(Convert.ToBoolean(ViewData["fav"]) ? "已收藏" : "收藏")</span></span></a>
        }
        else
        {
            <a class="product_add"><span class="active"><i class="icon-star-outline"></i><span onclick="location.href = '/Account/Login'">收藏</span></span></a>
        }*@
    </div>
    <div class="product_price_sales">
        <div class="product_price"><strong id="price">现金购买：@Model.Price</strong>@*2.0折*@</div>
        <div class="product_price">易物券购买：@Model.RealPrice </div>
        @*<div class="product_sales">销量：@Model.Payed</div>*@
        @*<span class="product_integration">赠送<font color="#ff0000">1680</font>待返积分</span>*@
    </div>
    <div data-gg="0" class="product_choose">
        <a href="#" title="">
            <font color="#666666">购买：</font><span id="selectgg"></span>
            <i class="icon-chevron-thin-left"></i>
        </a>
    </div>
    <div class="gg">
        @{
            List<RelexBarDLL.TrueProduct> tplist = ViewData["Spec"] as List<RelexBarDLL.TrueProduct>;
            if (tplist != null && tplist.Count > 0)
            {
                string[] SPNames = tplist[0].SPName.Split(',');
                string[][] SPdescs = new string[tplist.Count][];
                for (int i = 0; i < tplist.Count; i++)
                {
                    SPdescs[i] = tplist[i].SPDesc.Split(',');
                }
                for (int i = 0; i < SPNames.Length; i++)
                {
                    @*<script>tp.push({ "spdesc":"@tplist[i].SPDesc","remark":"@tplist[i].Remark"});</script>*@
                    <div class="pd-guige-item">
                        <span class="ggtitle">@SPNames[i]：</span>
                        <div class="pd-guige-a">
                            <ul class="pd-guigelist">
                                @if (SPdescs.Length > 0)
                                {
                                    for (int j = 0; j < tplist.Count; j++)
                                    {
                                        <li data-l="@i">@SPdescs[j][i]</li>
                                    }
                                }
                            </ul>
                        </div>
                    </div>
                }
            }
            <div class="pd-guige-item">
                <span class="ggtitle">购买数量：</span>
                <span data-v="-" class="btn-count">-</span>
                @*<input class="btn-count" type="button" value="-"/>*@
                <span id="count">1</span>
                <span data-v="+" class="btn-count">+</span>
                @*<input class="btn-count" type="button" value="+"/></span>*@
            </div>
        }
    </div>
    <div class="product_three">
        <span><i class="icon-checkmark"></i>平台发货&售后</span>
        <span><i class="icon-checkmark"></i>十三行正品</span>
        <span><i class="icon-checkmark"></i>享受收益</span>
    </div>
    @*<div class="product_shopinfo">
        <div class="product_shopinfo_pic"><img src="@shop.Img" width="200" height="200" border="0" alt=""><span>@shop.ShopName</span></div>
        <div class="product_shopinfo_address">地址：@shop.Address</div>
        <a href="#" title="" class="product_shopinfo_follow product_shopinfo_follow_active">关注</a>
    </div>*@
    <div class="product_snav">
        <ul class="clearfix">
            <li><a href="/Shop/ShopHome/@shop.ID" title=""><span><i class="icon-shop"></i>进入店铺</a></span></li>
            <li><a onclick="chatQQ()" title=""><span><i class="icon-commenting"></i>在线客服</a></span></li>
        </ul>
    </div>
    <div class="product_contitle">商品详情</div>
    <div class="product_content">
        @Html.Raw(Model.Descrition)
    </div>
    <div class="productfootbox"></div>
    <div class="productfoot">
        <ul>
            <li class="link1"><a href="/Shop/ShopHome/@shop.ID" title=""><i class="icon-shop"></i><strong>进店</strong></a></li>
            <li class="link2"><a href="/Shop/ShoppingCart" title=""><i class="icon-cart"></i><strong>购物车</strong></a></li>
            @if (Convert.ToBoolean(ViewData["isLogin"]))
            {
                <li class="link3"><a class="addcar" title="">加入购物车</a></li>
                <li class="link4"><a id="pay" title="">立刻购买</a></li>
            }
            else
            {
                <li class="link3"><a href="/Account/Login" title="">加入购物车</a></li>
                <li class="link4"><a href="/Account/Login" title="">立刻购买</a></li>
            }
        </ul>
    </div>
</body>
</html>
