
@{
    Layout = null;
    List<RelexBarDLL.AdsList> adlist = ViewData["adlist"] as List<RelexBarDLL.AdsList>;
    RelexBarDLL.Users user = ViewData["user"] as RelexBarDLL.Users;
}
@model List<RelexBarDLL.ProductList>
<!DOCTYPE html>

<html>
<head>
    @Html.Action("Header", "Static")
    <title>首页</title>
    <style>
            .nindexprolist_list{position:relative;}
            .lb{position:absolute;right:0rem;width: 16rem;
        top: 7rem;}
    </style>
    <script>
        function buy(id, price) {
            //if (!confirm("该商品需要使用"+price+"元首购券，是否兑换？")) {
            //    return;
            //}
            //$.post("/Home/Buy/" + id, null, function (data) {
            //     alert(data.msg);
            //}, "json");
            if(@user.LV > @((int)RelexBarBLL.Common.enUserLV.普通用户))
            {
                alert("您已经是@((RelexBarBLL.Common.enUserLV)user.LV)，不需要升级。");
                return false ;
            }
            location.href = "PaymentPattern?pid=" + id;
        }
    </script>
</head>
@*<body>
        <div class="nindexhead">
            <h3>丝路联盟</h3>
            <a href="/Shop/PersonCenter" title="" class="nindexhead_right"><i class="icon-user"></i></a>
        </div>
        <div class="swiper-container" id="in-banner">
            <div class="swiper-wrapper">
                @for (int i = 0; i < adlist.Count; i++)
                {
                    <div class="swiper-slide" id="silde@(i+i)"><a href="@adlist[i].LinkTo" title=""><img src="@adlist[i].Img" alt="" /></a></div>
                }
            </div>
            <div class="pagination"></div>
        </div>
        <script type="text/javascript">
        $(function(){
            var mySwiper = new Swiper('#in-banner',{
                loop: true,
                calculateHeight: true,
                autoplay: 5000,
                pagination:'.pagination',
                paginationClickable: true
            })
        })
        </script>
        <div class="nindexpro_title">产品套餐</div>
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="nindexprolist_list">
                <div class="nindexprolist_pic"><a href="/Home/ProductDetail/@Model[i].ID" title=""><img src="@Model[i].Img" alt=""></a></div>
                <h4><a href="#" title="">@Model[i].Name</a></h4>
                <h5>@Model[i].Title</h5>
                <div class="nindexprolist_btn">
                    <ul class="clearfix">
                        <li>
                            @if (user != null && Model[i].Level <= user.LV)
                            {
                                <span>&nbsp;</span>
                            }
                            else
                            {
                                <span>
                                    <a onclick="buy('@Model[i].ID',@Model[i].Price)" title="">立即升级</a>
                                </span>
                            }
                        </li>
                    </ul>
                </div>
                <img src="/img/lb.png" class="lb" onclick="location.href = '/Home/ProductDetail/@Model[i].ID'" />
            </div>
        }
    </body>*@

<body class="bgf4f4f4">
    @*<div class="nindexhead">
        <h3>牙商商品</h3>
    </div>*@
    <div class="header">
        <h3>牙商商品</h3>
        <a onclick="window.history.back()" title=""><i class="icon-chevron-thin-left"></i></a>
    </div>
    <div class="h-title1" style="height:2rem">购买以下任意商品，都可以加盟我们成为牙商</div>
    <div class="porduct_list">
        <ul class="clearfix" id="ProductList">
            @foreach (var a in Model)
            {
                <li>
                    @*<a href="/Shop/ProductDetail/@a.ID" title="">*@
                    <a href="#" title="">
                        <div class="porduct_list_pic"><img src="@a.Img" alt=""></div><h4>@a.Name</h4>
                        <div class="price clearfix">
                            <span>￥@a.Price</span>
                            <b style="background-color:red;color:white" onclick="buy('@a.ID',@a.Price)">立即购买</b>
                        </div>
                    </a>
                </li>
            }
        </ul>
    </div>
    <div class="footnavbox"></div>
    <div class="footnav">
        @Html.Action("ShopFooter", "Static", new { id = 4 })
    </div>
</body>
</html>
