
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    @Html.Action("Header","Static")
    <title>我要开户</title>
    <style>
        #yzm{
            position: absolute;
    right: 0;
    top: 50%;
    margin-top: -1.5rem;
    line-height: 3rem;
    border: 1px solid #ccc;
    border-radius: 3px;
        }
    </style>
    <script>
        $(function () {
            $(".account_check").on("click", function () {
                var account = $("#account").val();
                if (account == "" || account.length == 0) {
                    return alert("账号不能为空");
                }
                if (!isPhone(account)) {
                    return alert("手机号不正确");
                }
                $.post("/Account/CheckAccount", "account=" + account, function (data) {
                    if (data.code == 1) {
                        alert("账号可用");
                    } else {
                        alert("账号已被使用");
                        $("#account").val("");
                    }
                }, "json");
            });
            $("#yzm").on("click", function () {
                var account = $("#account").val();
                if (account == "" || account.length == 0) {
                    return alert("账号不能为空");
                }
                if (!isPhone(account)) {
                    return alert("手机号不正确");
                }
                var c = 60;
                $(this).attr("disabled", "disabled");
                var timer = setInterval(function () {
                    c--;
                    if (c == 0) {
                        $("#yzm").val("获取验证码");
                        $("#yzm").removeAttr("disabled");
                        clearInterval(timer);
                    } else {
                        $("#yzm").val(c + "秒后重试");
                    }
                    
                }, 1000);
                $.post("/Verifycode/getVerifyCode?t=2&r="+account+"&v=" + Math.random(),null,function(data){},"json");
                
            });
            $("#sub").on("click", function () {
                var account=$("#account").val();
                if(isNullOrEmpty(account)){
                    return alert("账户不能为空");
                }
                var name = $("#name").val();
                if (isNullOrEmpty(name)) {
                    return alert("姓名不能为空");
                }
                //if (!isPhone(account)) {
                //    return alert("手机号不正确");
                //}
                var pwd=$("#pwd").val();
                if(isNullOrEmpty(pwd)){
                    return alert("密码不能为空");
                }
                var pwd2=$("#pwd2").val();
                if(pwd!=pwd2){
                    return alert("两次密码不一致");
                }

                var code = $("#code").val();
                if (isNullOrEmpty(code)) {
                    return alert("验证码不能为空");
                }
                $.post("/Account/CreateAccount", "cnum=@ViewData["cnum"]" + "&account=" + account +"&name="+name+ "&pwd=" + pwd + "&code="
                    + code+"&pid="+$("#pid").val()+"&prid="+$("#prid").val(), function (data) {
                        alert(data.msg);
                        if (data.code == 1) {
                            location.href = "/Shop/PersonCenter";
                        }
                });
            });
        })
        function isNullOrEmpty(str){
            if(str==null||str==""||str.length==0){
                return true;
            }
            return false;
        }
        function isPhone(phone) {
            var myreg = /^(1\d{10})$/;
            if (!myreg.test(phone)) {
                return false;
            }
            return true;
        }
    </script>
</head>
<body class="bgf4f4f4">
    <div class="header">
        <h3>我要购货</h3>
        <a onclick="window.history.back()" title=""><i class="icon-chevron-thin-left"></i></a>
    </div>

    <div class="account">
        <ul>
            <li>
                <div class="account_left">会员编号：</div>
                <div class="account_right">@ViewData["cnum"]</div>
            </li>
            <li>
                <div class="account_left">推荐人：</div>
                <div class="account_right"><font color="#ff0000">@ViewData["tjr"]</font></div>
            </li>
            <li>
                <div class="account_left">账号：</div>
                <div class="account_right"><div class="account_account"><input id="account" type="text" placeholder="请输入手机号" /><a href="#" title="" class="account_check">检查账号</a></div></div>
            </li>
            <li>
                <div class="account_left">姓名：</div>
                <div class="account_right"><div class="account_account"><input id="name" type="text" placeholder="请输入姓名" /></div></div>
            </li>
            <li>
                <div class="account_left">密码：</div>
                <div class="account_right"><div class="account_password"><input id="pwd" type="password" placeholder="6-8位数字或英文" /></div></div>
            </li>
            <li>
                <div class="account_left">确认密码：</div>
                <div class="account_right"><div class="account_password"><input id="pwd2" type="password" placeholder="6-8位数字或英文" /></div></div>
            </li>
            <li>
                <div class="account_left">验证码：</div>
                <div class="account_right"><div class="account_code">
                    <input type="text" id="code" /><a href="#" title="" class="code">
                    <input value="获取验证码" id="yzm" type="button"/>
                   
                    @*<img id="yzm" src="/Verifycode/getVerifyCode?t=1" alt="" />*@
                    </a></div></div>
            </li>
        </ul>
        <div style="display:none">
            <input id="pid" value="@ViewData["pid"]" type="hidden"/>
            <input id="prid" value="@ViewData["prid"]" type="hidden"/>
        </div>
    </div>
    @if (ViewData["pid"]!=null)
    {
        <div class="account_other">开户成功将自动扣除你账户<font color="#ff0000">@ViewData["price"]</font>首购券。</div>
    }
    
    <div class="btn1"><input id="sub" type="button" value="确认" /></div>
    <div class="footnavbox"></div>
</body>
</html>
